body {
	background-color: azure;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

fieldset {
	border: 1em 0;
	margin: 1em;
	padding: 1em;
	border: 2px solid azure;
	background: #e6d2f9;
}

legend {
	font-weight: bold;
}

label {
	display: block;
	cursor: pointer;
}

input[type="text"], input[type="email"] {
	border: 0;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.06);
	padding: 5px;
}

input[type="submit"] {
	cursor: pointer;
	width: 80px;
	border: 0 none;
	border-radius: 5px;
	color: #000;
	background-color: #fff;
	padding: 5px;
	display: block;
}

input[type="submit"]:hover {
	color: rgb(190, 185, 185);
}

select {
	border: 0;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.06);
	padding: 5px;
	
}

textarea {
	border: 2px solid #fff;
	border-radius: 5px;
	width: 15em;
	height: 5em;
}